<html>
<div class="container">

    <head>
        
    </head>

    <body>

        

        <div class="mx-auto">
                <div class="container">
                    <div class="form-group">
                        <div class="card border-primary mb-3">
                            <div class="card-header bg-danger text-white"  ><b>View Product</b></div>
                            <div class="card-body">
                            <form #formRef="ngForm">
                                <div class="form-group row" style="margin-top: 25px">
                                    <div class="col-md-1"></div>
                                    <label class="col-md-2" for="lblproName">Product Name: </label>
                                    <div class="col-md-3">
                                     <b>   {{ProductslistfromJson2.productName}}</b>
            
                                    </div>
            
                                    <label class="col-md-2" for="lblproDesc">Product Description: </label>
                                    <div class="col-md-4">
                                        <b>    {{ProductslistfromJson2.Productdescription}}</b>
                                    </div>
                                </div>
                                <!-- row 2 -->
                                <div class="form-group row">
                                    <div class="col-md-1"></div>
                                    <label class="col-md-2" for="lblman">Manufacturer: </label>
                                    <div class="col-md-3">
                                        <b>  {{ProductslistfromJson2.Manufacturer}}</b>
                                    </div>
                                    <label class="col-md-2" for="lblpriceRef">Price: </label>
                                    <div class="col-md-3">
                                        <b>   £ {{ProductslistfromJson2.Price}}</b>
                                    </div>
                                </div>
                                <!-- row 3 -->
            
                                <div class="form-group row">
                                    <div class="col-md-1"></div>
                                    <label class="col-md-2" for="lblquantity">Quantity: </label>
                                    <div class="col-md-3">
                                        <b>  {{ProductslistfromJson2.Quantity}}</b>
                                    </div>
            
            
                                </div>
            
            
                                <div>
                                </div>
                                <div class="col-md-3 ml-md-auto">
                                  
                                    <button routerLink="" class="btn btn-danger"> <i class="fas fa-backspace"></i>Back</button>
                                </div>
                                <br>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


    </body>
</div>

</html>



     <!-- {{ProductslistfromJson2.productName}}
           {{ProductslistfromJson2.Productdescription}}
           {{ProductslistfromJson2.Manufacturer}}
           {{ProductslistfromJson2.Price}}
           {{ProductslistfromJson2.Quantity}}
           {{ProductslistfromJson2.id}} -->
           <!-- (ngSubmit)="onSubmit(formRef.value) -->
           <!-- "style="background-color: rgb(226, 46, 46)" -->