<html>
<div class="container">

    <head>
    </head>

    <body>
        <!-- <h2> Profile Information </h2> -->

        <div class="mx-auto">
            <div class="container">
                <div class="form-group">
                    <div class="card border-primary mb-3">
                        <div class="card-header bg-danger text-white"><b>Profile Information</b></div>
                        <div class="card-body">
                            <form #formRef="ngForm">
                                <div class="form-group row" style="margin-top: 25px">
                                    <div class="col-md-1"></div>
                                    <label class="col-md-2" for="lblproName">First Name: </label>
                                    <div class="col-md-3">
                                        <b> {{varlocalUserDetails.FirstName}}</b>

                                    </div>

                                    <label class="col-md-2" for="lblproDesc">Last Name: </label>
                                    <div class="col-md-4">
                                        <b> {{varlocalUserDetails.LastName}}</b>
                                    </div>
                                </div>
                                <!-- row 2 -->
                                <div class="form-group row">
                                    <div class="col-md-1"></div>
                                    <label class="col-md-2" for="lblman">Email id: </label>
                                    <div class="col-md-3">
                                        <b>{{varlocalUserDetails.EmailID}} </b>
                                    </div>
                                    <label class="col-md-2" for="lblpriceRef">Password: </label>
                                    <div class="col-md-3">
                                        <b> {{varlocalUserDetails.Password}}</b>
                                    </div>
                                </div>
                                <!-- row 3 -->

                                <div class="form-group row">
                                    <div class="col-md-1"></div>
                                    <label class="col-md-2" for="lblquantity">Mobile Number: </label>
                                    <div class="col-md-3">
                                        <b>{{varlocalUserDetails.MobNumber}} </b>
                                    </div>


                                </div>


                                <div>
                                </div>
                                <div class="col-md-3 ml-md-auto">

                                    <button routerLink="" class="btn btn-danger"> <i
                                            class="fas fa-backspace"></i>Back</button>
                                </div>
                                <br>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </body>
</div>

</html>



<!-- {{ProductslistfromJson2.productName}}
           {{ProductslistfromJson2.Productdescription}}
           {{ProductslistfromJson2.Manufacturer}}
           {{ProductslistfromJson2.Price}}
           {{ProductslistfromJson2.Quantity}}
           {{ProductslistfromJson2.id}} -->
<!-- (ngSubmit)="onSubmit(formRef.value) -->